<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imágenes Titulares</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" type="text/css" th:href="@{/css/index.css}">
    <link rel="shortcut icon" href="img/EscudoNuevoHermano.png"
		th:href="@{img/EscudoNuevoHermano.png}">
</head>

<body>

    <header th:replace="~{fragmentos/cabecera::cabecera}"></header>

    <main class="content">

        <h2 class="text-center mt-5 titulo">Santísimo Cristo de la Salud</h2>

        <div class="d-flex justify-content-center">

            <img src="img/imagen_1.jpg" alt="Cristo de la Salud" width="20%" class="pe-3 pt-5">
            <img src="img/imagen_2.jpg" alt="Cristo de la Salud" width="20%" class="ps-3 pt-5">

        </div>

        <p class="justify-text pt-5 pe-3 p">
            Se trata de una imagen encargada, según consta en Actas de la Escuela de Cristo, el 17 de enero de 1669,
            realizada en madera de cedro policromada, que mide un metro setenta y cinco centímetros, representando a
            Cristo muerto crucificado en el Árbol Santo de la Cruz, momentos después de la expiración, tras encomendar a
            su Padre su Espíritu, cuyas referencias las encontramos en los Evangelios de San Mateo, capítulo 27; en el
            de San Marcos, capítulo 15; en el de San Lucas, capítulo 23; y en el de San Juan, capítulo 19. También se
            encuentra reflejada en la duodécima estación del Vía Crucis. <br>
            El principal signo de la muerte que podemos apreciar en su hechura es la relajación. Sus brazos se alinean
            al travesaño horizontal o patibulum, de donde pende clavado por sus manos abiertas. Está cubierto por un
            sudario anudado en la cintura por una soga que deja al descubierto el costado derecho. Tres clavos lo fijan
            a una Cruz cilíndrica y arbórea. Tiene cinco llagas: dos en las manos, dos en los pies, motivadas por los
            clavos y una en el costado derecho provocado por la lanzada. Su cabeza, reposada sobre el pecho, dirige la
            mirada hacia el lado derecho, herida por una corona de espinas, tallada en bloque, a forma de casco formada
            por una venda de ramas entrelazadas y el pómulo izquierdo amoratado. Las rodillas muestran heridas abiertas
            debidas a las caídas sufridas durante el camino de la amargura. <br>
            Es una talla esbelta, nítidamente barroca, perfectamente armonizada, aunque de fuertes miembros
            proporcionados. Su aspecto dramático se identifica por el movimiento de laxitud del cuerpo sin vida, que cae
            de manera sobrecogedora de los clavos que lo sujetan a la Cruz, como nos hace observar la tensión de sus
            hombros y brazos y su posición colgante y encorvada. Sin embargo, nos enseña un rostro dulcificado, con un
            extraordinario impacto devocional que siempre nos llama a su contemplación. Dicho por expertos, de los
            mejores que se han tallado en la ciudad.
        </p>

        <p class="justify-text pe-3 p">
            El Crucificado es traído desde el barrio de Santa Cruz en piadoso Vía Crucis hasta la parroquia de San
            Bernardo en enero de 1938, celebrando los hermanos en su honor Solemne Función y Devoto Besapiés a su
            llegada. <br>
            Por su procedencia se explica la visión frontal de la imagen, propia de retablo, atendiendo a los cánones de
            simetría clásica, con escaso movimiento en las telas del sudario, el tratamiento abocetado de la espalda
            frente al virtuosismo del torso y del rostro, a la vez que inspiraría, el destino original de la misma, el
            recogimiento de esta sacra escultura al objeto de que esta fuera más adecuada para la meditación y la
            oración íntima.
        </p>

        <h2 class="text-center pt-5 titulo">María Santísima del Refugio</h2>

        <div class="d-flex justify-content-center">

            <img src="img/imagen_3.jpg" alt="María Santísima del Refugio" width="20%" class="pe-3 pt-5">
            <img src="img/imagen_4.jpg" alt="María Santísima del Refugio" width="20%" class="ps-3 pt-5">

        </div>

        <p class="justify-text pt-5 pe-3 p">
            Imagen realizada por el imaginero de la población onubense de Higuera de la Sierra, D. Sebastián Santos
            Rojas (1895-1977), en el año 1938, según contrato concertado por el propio escultor y el Hermano Mayor en
            dicha época, D. Antonio Filpo Rojas. El costo de la nueva obra ascendió a un importe de 3.500 pesetas, según
            factura de fecha 15 de noviembre del referido año, siendo entregada a finales del mismo y bendiciéndose e
            imponiéndosele su nueva corona el día 1 de enero de 1939 por Su Eminencia Rvdma., el Señor don Pedro Segura
            y Sáenz, Cardenal Arzobispo de Sevilla. <br>
            El día de su bendición, domingo, amaneció con todo el barrio engalanado y a las cinco de la tarde, hora
            fijada para el comienzo de la ceremonia, el templo aparecía totalmente ocupado de fieles. La Imagen de la
            Virgen del Refugio aparecía en su hermoso paso de salida con sus preciosas y ricas galas en plata y
            bordados, y adornada exquisitamente de flores. Estaba sencillamente bellísima y estrenaba la saya hecha con
            el traje de torear del famoso y malogrado diestro del barrio José Claro Pepete, ofrecido por sus familiares
            en honor de la Santísima Virgen de la que el torero era gran devoto. <br>
            La corona lucía una hermosa cruz de brillantes, construida con las joyas donadas por la Señora del gran
            escritor gallego y ferviente admirador que fue de las tradiciones sevillanas don Alejandro Pérez Lugín,
            Hermano Mayor honorario que fue de la Hermandad. Bendecida la misma, el Sr. Cardenal subido en el paso la
            recibió de las manos del General Llanderas y del Hermano Mayor y se la colocó a la Santísima Virgen.
            La corona en plata dorada es obra del orfebre Manuel Seco Velasco.
        </p>

        <p class="justify-text pe-3 p">
            Representa el momento de La Piedad, aunque no como la reconocemos hoy día, sino como lo hace De La Vorágine,
            en su capítulo “Nuestra Señora de la Piedad”: la Virgen erguida al pie del Sagrado Madero, fiel reflejo de
            la cita del Evangelio de San Juan: “…estaban en pie junto a la Cruz de Jesús su Madre …” (Jn, 19, 25),
            versículo al cual se corresponde también la duodécima estación del Vía Crucis propuesto por S.S. Juan Pablo
            II, donde se contempla a Jesús en la Cruz, su Madre y el discípulo, e identificándose, por tanto, con el
            quinto misterio doloroso, donde se medita el sufrimiento de María al pie del Árbol Santo de la Cruz. <br>
            En su rostro, de cuidadas facciones, se acumula toda su expresividad de dolor letífico, conseguido por medio
            de las cejas, que en forma de ese, hace caer los extremos cercanos a la nariz, levantando los opuestos,
            subiendo las puntas de las mismas, levemente en el centro de la cara; bajo los párpados, que han comenzado a
            caer, con grandes pestañas que ensombrecen su mirada baja y alarmante, apreciamos sus ojos de cristal con
            una posición distinta en cada uno, con el fin de enmarcar un cierto estrabismo que convencionalmente ha
            venido representando el dolor anímico, siendo quizás este su rasgo más característico; las aletas de la
            nariz se recogen y en su boca, entre abierta, que nos permite apreciar la dentadura y la lengua, como
            dejando escapar un gemido, se proyecta el labio superior hacia fuera y se retrae el inferior, mientras que
            los extremos de las comisuras de la boca se dirigen sigilosamente hacia arriba, gesto muy expresivo y
            desgarrado, que consigue un extremo patetismo. Por sus mejillas resbalan siete lágrimas de cristal, como los
            siete dolores que Ella padeció, tres por la izquierda y cuatro por la derecha. Sin embargo, por medio de su
            entrecejo, tímidamente fruncido, llegamos a adivinar un endulzamiento de su rictus de amargura, su nariz
            recta, canon del neobarroco sevillano, y su ovalo facial acentuado a partir del maxilar inferior ayudan a
            suavizar sus rasgos dolorosos. Sus manos extendidas, de gran belleza plástica, colocadas entre la cintura y
            el pecho, presentan unos dedos tensos que nos hace adivinar un elocuente movimiento, que no es otro que
            agarrar el alma de su Hijo que al final se escapa. Porta en la derecha un pañuelo o manípulo para recoger su
            llanto y en la izquierda un Santo Rosario. Su encarnadura cálida, nos deja ver una tez ligeramente conjugada
            de matices sonrosados y tenues tonos tostados, matizados por veladuras y sombras naturales, lográndose así
            una apetecida sensación de vida y potenciando los sugerentes aciertos de la talla. De esta forma se consigue
            representar a la Madre de Cristo como Madre de la Iglesia, consiguiendo a la par una imagen de María dolida,
            llena de tristeza, clavándonos en el interior sus angustias, y a la vez, entregándose como nuestra Madre
            Corredentora, refugio de todo aquel que busca su amparo.
        </p>

        <h2 class="text-center pt-5 titulo">Nuestra Señora del Patrocinio</h2>

        <div class="d-flex justify-content-center">

            <img src="img/Patrocinio.jpg" alt="Patrocinio" width="20%" class="pt-5">

        </div>

        <p class="justify-text pt-5 pe-3 p">
            Imagen de candelero para vestir de tamaño académico, lleva el Niño Jesús en la mano izquierda y cetro en la
            derecha. De autor anónimo, fue donada después de la guerra civil por Dña. Carmen de la Milla el 12 de
            noviembre de 1.940, siendo restaurada por Antonio Dubé de Luque en 1.972.
        </p>

        <h2 class="text-center pt-5 titulo">San Bernardo</h2>

        <div class="d-flex justify-content-center">

            <img src="img/SAN-BERNARDO.jpg" alt="San Bernardo" width="20%" class="pt-5">

        </div>

        <p class="justify-text pt-5 pe-3 p">
            Imagen propiedad de la Parroquia situada en el segundo cuerpo del Altar Mayor de ésta, y realizada por
            Antonio Dubé de Luque en 1975 a partir del anterior. La imagen fue costeada por la Hermandad dentro de las
            obras de adecuación del Altar Mayor de la Parroquia que permitió colocar en su camarín central a la imagen
            de la Santísima Virgen del Refugio que pasó a presidir el Altar Mayor, trasladándose la imagen de San
            Bernardo al cuerpo superior del mencionado Altar Mayor. <br>
            La imagen es de talla completa y muestra al Señor San Bernardo en peregrinación apoyado en el báculo, uno de
            sus principales atributos y dando lectura al Libro de las Sagradas Escrituras. A sus pies se encuentra la
            mitra, otros de los atributos del Abad de Claraval.
        </p>

        <h2 class="text-center pt-5 titulo">Santa Barbara</h2>

        <div class="d-flex justify-content-center">

            <img src="img/SANTABARBARA.jpeg" alt="Santa Barbara" width="20%" class="pt-5">

        </div>

        <p class="justify-text pt-5 pe-3 p">
            Talla antigua del siglo XVII procedente de la Parroquia de Santa Ana, cedida a esta Parroquia a instancia de
            los Sres. Coroneles de la Fábrica de Artillería, Pirotecnia Militar y Regimiento de Artillería nº 3, por
            Decreto del Ilmo. Sr. Vicario Capitular, el 18 de septiembre de 1.937.
        </p>

    </main>
    
    <footer th:replace="~{fragmentos/footer::footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>