<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" type="text/css" th:href="@{/css/index.css}">
    <link rel="shortcut icon" href="img/EscudoNuevoHermano.png"
		th:href="@{img/EscudoNuevoHermano.png}">
</head>

<body>

    <header th:replace="~{fragmentos/cabecera::cabecera}"></header>
    
    <main class="content">

        <h2 class="text-center mt-5 titulo">Paso del Santísimo Cristo de la Salud</h2>

        <div class="d-flex justify-content-center">

            <img src="img/paso 1.jpg" alt="Cristo de la Salud" width="22%" class="pe-3 pt-5">
            <img src="img/paso 2.jpg" alt="Cristo de la Salud" width="22%" class="ps-3 pt-5">

        </div>

        <p class="justify-text pt-5 pe-3 p">
            Paso estrenado en la Semana Santa de 1925 de talla estilo barroco, realizado por José Gil en madera de pino
            de Flandes, con líneas rectas y bocel, con respiraderos de igual estilo y dorado por Francisco Ruiz
            Rodríguez, “Currito el dorador” en oro fino con adornos frutales policromados al huevo. En las esquinas de
            su canasto aparecen cuatro cartelas pintadas y policromadas por Rafael Blas Rodríguez con escenas de la
            pasión de nuestro Señor Jesucristo, representando el Ecce Homo, la Calle de la Amargura, el Encuentro con la
            Virgen y Jesús Caído cargando con la Cruz. En los paños centrales relieves tallados en el frontal con el
            escudo actual de la corporación, y en la trasera el antiguo escudo. En los laterales cartelas talladas con
            escenas de la pasión realizadas por Fernando Aguado Hernández en 2006. <br>
            Está iluminado por airosos candelabros dorados de guardabrisas de seis luces los de las esquinas, y de tres
            los laterales. Los guardabrisas de sus candelabros están rematados por coronitas realizadas en plata de ley
            por Ramón León Peñuelas en 2007. <br>
            El llamador esta realizado en bronce fundido por Cruz y Frías en 1970 y representa el puente de San
            Bernardo. <br>
            Sus faldones realizados en terciopelo granate están bordados con broches en oro fino.
            En 1972 se estrena nueva parihuela a cargo de Francisco Bailac Ceniza, y además sale el paso completamente
            dorado por Luis Sánchez Jiménez. En 1994 vuelve a dorarse el canasto por Manuel Calvo Carmona, ayudado por
            su padre el famoso dorador Manuel Calvo Camacho, que ya trabajara como aprendiz en el primitivo dorado
            efectuado en el taller de Francisco Ruiz Rodríguez. <br>
            La parihuela mide 2.09 x 3.89 x 1.46 m., y tiene seis trabajaderas de cinco costaleros en cada una de ellas,
            excepto en la cuarta en la que solo van cuatro al estar situado el cajillo que porta la cruz, lo que hace un
            total de veintinueve costaleros. La cuadrilla está compuesta por hermanos. <br>
            La subida y bajada del Santísimo Cristo es realizad por un mecanismo de tracción diseñado por nuestros
            hermanos Manuel González Castro y Francisco Javier Gómez García. <br>
        </p>

        <h2 class="text-center mt-5 titulo">Paso de María Santísima del Refugio</h2>

        <div class="d-flex justify-content-center">

            <img src="img/PASODEVIRGEN1.jpg" alt="Cristo de la Salud" width="22%" class="pe-3 pt-5">
            <img src="img/PASODEVIRGEN2.jpg" alt="Cristo de la Salud" width="22%" class="ps-3 pt-5">

        </div>

        <p class="justify-text pt-5 pe-3 p">
            Sevillanísimo paso de palio en el que se combinan de singular manera las piezas doradas y plateadas, con
            bordados en oro fino y sedas de colores sobre terciopelo granate. Realizado según diseño original de Juan
            Manuel Rodríguez Ojeda en 1929 con posteriores restauraciones de Esperanza Elena Caro en 1929, convento de
            Santa Isabel en 1980 y José Ramón Paleteiro entre 1996 y 1998. El techo de palio posee gloria central
            bordada en seda de colores representando a Santa Justa y Rufina, de igual forma aparece bordada Santa
            Bárbara en el faldón delantero. <br> 
            Su orfebrería está compuesta por: Unos respiraderos realizados en plata de ley sobredorada en 1995 por José
            Manuel Ramos. En los mismos figura en cada uno de sus paños distintas Letanías Lauretanas del Santo Rosario,
            Dos candelabros de cola sobre bases en madera tallada y sobredorada. Están realizados en plata de ley con
            partes sobredoradas por José Manuel Ramos en 1992. <br> 
            Doce varales de metal plateado y repujado, con nudetes centrales y remates en metal sobredorado. Realizados
            por Sironi. <br>
            Una peana de metal plateado y ejecutada por Seco Velasco en 1938. <br>
            Un llamador en plata de ley sobredorada de Orfebrería Ramos 2001. <br>
            Un juego de 38 jarras de distintos tamaños de plata sobredorada realizado por Ramón León Peñuelas entre 2016
            y 2019 que sustituyó al anterior juego de jarras de metal sobredorado realizadas por José Moguell en 1940.
            Cuatro cañoncitos de metal dorado y utilizados como candelabros para la delantera del paso, realizados por
            Pirotecnia Militar en 1938. <br>
            Un templete realizado en plata de ley sobredorada y esmaltes con imagen en marfil de la Virgen del Voto,
            copia del monumento situado en la Plaza del Triunfo de Sevilla. Su autor es Orfebrería Ramos en 1998. <br>
            Seis candelabros realizados en plata por Orfebrería Ramos en 2004 y destinados a la colocación de velas
            rizadas en la delantera del paso. <br>
            Una candelería de 114 piezas realizadas en plata de ley por el orfebre sevillano Ramón León Peñuelas según
            diseño original, entre enero de 2005 y enero de 2008. Cada candelabro lleva incluido en su mechero distintas
            advocaciones marianas, todas ellas diferentes. <br>
            La parihuela realizada por Caballero Farfán en el año 2000 en madera de pino Flandes, mide 2.09 x 3.34 x
            1.44 m., y tiene seis trabajaderas de cinco costaleros cada una, lo que hace un total de treinta. La
            cuadrilla está formada por hermanos. <br>
        </p>

    </main>
    
    <footer th:replace="~{fragmentos/footer::footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>