<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link rel="stylesheet" href="/css/index.css" type="text/css" th:href="@{/css/index.css}">
	<link rel="shortcut icon" href="img/EscudoNuevoHermano.png" th:href="@{img/EscudoNuevoHermano.png}">
</head>

<body>
	<script>
		AOS.init();
	</script>

	<header th:replace="~{fragmentos/cabecera::cabecera}"></header>


	<!-- CAROUSEL -->

	<div id="carouselExampleSlidesOnly" class="carousel slide border border-2 border-secondary" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="img/CRISTO-2.jpg" class="d-block w-100" alt="Cristo de la Salud" width="800" height="800">
			</div>
			<div class="carousel-item">
				<img src="img/san-bernardo-16-copia.jpg" class="d-block w-100" alt="Virgen del Refugio" width="800"
					height="800">
			</div>
		</div>
	</div>

	<div class="text-center">
		<div class="pt-5 text-center">
			<img src="img/Escudo-de-San-Bernardo-removebg-preview.png" alt="Escudo San Bernardo" width="100px">
		</div>
	</div>

	<!-- MAIN DE OPCIONES -->

	<div class="justify-text text-center pt-4" id="title" data-aos="flip-left">
		<div>
			<h3> <strong> HERMANDAD DE SAN BERNARDO </strong></h3>
		</div>
		<div>
			<h4>Real, Ilustre y Fervorosa Hermandad Sacramental de la Pura y Limpia Concepción de la Santísima Virgen
				María,
				<br>
				Ánimas Benditas del Purgatorio y Cofradía de Nazarenos del Santísimo Cristo de la Salud, <br>
				María Santísima del Refugio, Santa Cruz, Nuestra Señora del Patrocinio, Santa Bárbara y San Bernardo.
			</h4>
		</div>
	</div>

	<main class="content">
		<div class="d-flex justify-content-around">
      <a class="nav-link" href="https://twitter.com/hdadsbernardo?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3Ahdadsbernardo%7Ctwcon%5Es1_c1">
          <div class="">
            <img src="/img/twitter-morado.jpg" class="" alt="twitter" width="200">
            <div class="">
              <h5 class="card-title pt-3" id="card-1">Twitter</h5>
            </div>
          </div>
        </a>
      
      <a class="nav-link" href="https://www.instagram.com/hdadsbernardo/">
        <div class="">
          <img src="/img/ig.png" class="" alt="instagram" width="200">
          <div class="">
            <h5 class="card-title pt-3" id="card-2">Instagram</h5>
          </div>
        </div>
      </a>
    </div>
		<!-- NOTICIAS -->

		<h3 class="text-center pb-5" id="notice"> <strong> NOTICIAS </strong></h3>

		<div class="pt-5 ps-2 border border-2 w-75 shadow p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-down-right">
			<h5 class="card-title titleNotice"> <strong> Rosario regalado por el Grupo Joven a la Virgen del
					Refugio</strong>
			</h5>
			<div class="d-flex pt-3">
				<p class="card-text justify-text fw-light noticePara"> Hace unos meses nuestra juventud iniciaba un
					proyecto que
					hoy en día es real. <br><br> Un
					rosario para María Santísima del Refugio realizado por D. Miguel Ángel Cerezo, nacido de la idea que
					dejó
					plasmada Dña.Nuria Barrera en su cartel para el 75 aniversario de Sevilla Mariana. <br><br> El
					Rosario ha
					sido
					realizado en oro y perlas naturales, estando situado en las entrecuentas el escudo antiguo de
					nuestra
					hermandad y en la unión con la cruz, el anagrama de maría, lo remata la cruz del Santísimo Cristo de
					la
					Salud.
				</p>
				<img src="img/Rosario.jpg" width="400" height="400" alt="Rosario" class="pb-5 ps-5">
			</div>
		</div>

		<div class="d-flex justify-content-end pe-2" data-aos="fade-left">
			<div class="pt-5 ps-2 border border-2 w-75 shadow p-3 mb-5 bg-body-tertiary rounded">
				<h5 class="card-title titleNotice"> <strong> Restauración del Banderín de Santa Bárbara</strong></h5>
				<div class="d-flex pt-3">
					<p class="card-text justify-text fw-light noticePara"> Se ha efectuado sobre terciopelo de color
						burdeos,
						color de Santa Bárbara, en el tondo central o cartela se representa a Santa Bárbara pintada al
						óleo y basada
						el la imagen que está en el altar de la Parroquia obra de Rafael Amadeo Rojas Álvarez . <br><br>

						El tondo tejido en oro a realce y con la inscripción ya definida en el anterior está dividida en
						cuatro
						partes por cueros tejidos en oro y técnica de hojilla. <br><br>

						Debajo del tondo central aparece el escudo de armas del cuerpo de artillería, en él se reflejan
						4 rayos
						alusivos al día de su martirio y al día de su onomástica. <br><br>

						Cuenta con una guardillas perimetral en oro a realce y su decoración se entrelaza sobre sus
						propios
						elementos. Está rematado con fleco de rapacejo trameado en oro y rojo colores de la insignia
						nacional,
						manteniendo el mismo reverso de la insignia anterior.
					</p>
					<img src="img/Banderin.jpg" width="400" height="400" alt="Rosario" class="pb-5 ps-5">
				</div>
			</div>
		</div>

		<div class="pt-5 ps-2 border border-2 w-75 shadow p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-right">
			<h5 class="card-title titleNotice"> <strong> Próximas Juras de nuevos Hermanos</strong></h5>
			<div class="d-flex pt-3">
				<p class="card-text justify-text fw-light noticePara"> Informamos que las próximas juras de nuevos
					hermanos,
					previas al reparto de papeletas de sitio y que, por consiguiente, darán derecho a poder realizar la
					próxima
					Estación de Penitencia el Miércoles Santo, serán D.M. los domingos día 25 de febrero y día 17 de
					marzo de 2024
					en la Parroquia de San Bernardo, tras la Misa de Hermandad de las 11:00 horas. <br><br>

					A su vez, os recordamos que los aspirantes a hermanos deberán presentar en la Secretaría de la
					Hermandad con
					la suficiente antelación la correspondiente solicitud debidamente cumplimentada, junto con la
					partida de
					Bautismo. <br><br>

					En los próximos días contactaremos telefónicamente con todos los aspirantes que hayan entregado su
					solicitud
					para formar parte de la nómina de hermanos de nuestra Hermandad, al objeto de organizar la previa
					reunión
					preparatoria.
				</p>
				<img src="img/Jura.jpeg" width="400" height="400" alt="Rosario" class="pb-5 ps-5">
			</div>
		</div>

		<div class="d-flex justify-content-end pe-2" data-aos="fade-up-left">
			<div class="pt-5 ps-2 border border-2 w-75 shadow p-3 mb-5 bg-body-tertiary rounded">
				<h5 class="card-title titleNotice"> <strong> Peregrinación de la Hermandad al Rocío </strong></h5>
				<div class="d-flex pt-3">
					<p class="card-text justify-text fw-light noticePara"> Como todos los años nuestra Hermandad hace
						una
						peregrinación
						al Rocío para llevarle un ramo de flores donde contamos con la participación de nuestro Grupo
						Joven.<br><br>

						Nos recogerá un autobus por la mañana cerca de la Parroquia y nos dejará en el principio de uno
						de los
						caminos para llegar a la
						aldea, contamos con una jardinera, bebidas para el camino y un desayuno.
						Al llegar a la aldea realizaremos la ofrenda floral y pasaremos la tarde con otras Hermandades.
						<br><br>

						Si quieres participar en la peregrinación envianos tu nombre y apellidos
						para reservar tu plaza al correo: <span
							class="fw-bold">secretaria@hermdandsanbernardo.com</span>
						<br><br><br><span class="fw-bold"> El precio son: 15€ </span><br><br>

					</p>
					<img src="img/Rocio.jpeg" width="900" height="550" alt="Rosario" class="pb-5 ps-5">
				</div>
			</div>
		</div>


	</main>

	<footer th:replace="~{fragmentos/footer::footer}"></footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</body>

</html>