<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View Admin</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/index.css" type="text/css" th:href="@{/css/index.css}">
</head>

<body>
	
	<header>
    <nav class="navbar navbar-expand-sm shadow p-3 mb-2 bg-body rounded">
      <div class="container-fluid justify-content-start">

        <!-- LOGO DE LA PÁGINA -->

        <a class="navbar-brand" href="#">
          <img src="img/Logo-web-San-Bernardo-01-1.jpg" alt="Avatar Logo" style="width:190px;" class="rounded-pill">
        </a>


        <ul class=" nav nav-underline">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Gestión Hermano</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/nuevo}">Nuevo Hermano</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gestión Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Nuevo Producto</a>
          </li>
        </ul>


        <!-- CERRAR SESIÓN -->

        <button type="button" class="btn btn-danger active ms-auto" data-bs-toggle="modal"
          data-bs-target="#exampleModal2">
          <a class="nav-link active" th:href="@{/login}">Log Out</a>
        </button>
      </div>
    </nav>
  </header>
  
  <br>

	<main class="content">
		<div class="d-flex">
			<form class="ms-auto p-2 pe-5 d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Buscar</button>
			</form>
		</div>

		<hr>
		<br><br>

		<table class="table table-bordered border" id="tabla">
			<thead class="table-dark">
				<tr>
					<th scope="col">NumHer</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellidos</th>
					<th scope="col">DNI</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hermano : ${hermanos}">
					<th scope="row" th:text="${hermano.numHer}">1</th>
					<td th:text="${hermano.nombre}">Nombre</td>
					<td th:text="${hermano.apellidos}">Apellidos</td>
					<td th:text="${hermano.dni}">DNI</td>
					<td class="celda"><a th:href="@{/editar/{numHer}(numHer=${hermano.numHer})}"><button
								class="btn btn-outline-info" type="button">Editar</button></a>
						<button th:attr="data-bs-target='#modalBorrado'+${hermano.numHer}" data-bs-toggle="modal"
							class="btn btn-outline-danger" type="button">Eliminar</button>
						<button class="btn btn-outline-warning" type="button" th:attr="data-bs-target='#modalInfo'+${hermano.numHer}"
							data-bs-toggle="modal">Info</button>
					</td>

					<!--MODAL BORRADO-->

					<div class="modal" id="myModal" th:id="'modalBorrado'+${hermano.numHer}">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Borrar</h4>
									<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
								</div>
								<div class="modal-body">¿Quieres borrarlo?</div>
								<!-- Modal footer -->
								<div class="modal-footer">
									<a class="btn btn-danger"
										th:href="@{/borrar/{numHer}(numHer=${hermano.numHer})}">SI</a>
									<a class="btn btn-dark" th:href="@{/admin}">NO</a>
								</div>
							</div>
						</div>
					</div>

				</tr>
			</tbody>
		</table>

	</main>

	<!-- MODAL INFO -->

	<div th:each="hermano : ${hermanos}">
		<div class="modal fade" id="modalInfo" th:id="'modalInfo'+${hermano.numHer}" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Información Hermano</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<table>
							<div>
								<tr>
									<td>Número Antigüedad:</td>
									<td th:text="${hermano.numHer}">Nombre</td>
								</tr>
								<tr>
									<td>Nombre:</td>
									<td th:text="${hermano.nombre}">Nombre</td>
								</tr>
								<tr>
									<td>Apellidos:</td>
									<td th:text="${hermano.apellidos}"></td>
								</tr>
								<tr>
									<td>Email:</td>
									<td th:text="${hermano.email}"></td>
								</tr>
								<tr>
									<td>DNI:</td>
									<td th:text="${hermano.dni}"></td>
								</tr>
								<tr>
									<td>Cuota:</td>
									<td th:text="${hermano.cuota}"></td>
								</tr>
								<tr>
									<td>Fecha de Alta:</td>
									<td th:text="${#temporals.format(hermano.fechaAlta)}"></td>
								</tr>
								<tr>
									<td>Cargo:</td>
									<td th:text="${hermano.cargo}"></td>
								</tr>
								<tr>
									<td>Domicilio:</td>
									<td th:text="${hermano.domicilio}"></td>
								</tr>
								<tr>
									<td>Provincia:</td>
									<td th:text="${hermano.provincia}"></td>
								</tr>
								<tr>
									<td>Vivienda:</td>
									<td th:text="${hermano.vivienda}"></td>
								</tr>
								<tr>
									<td>Móvil:</td>
									<td th:text="${hermano.movil}"></td>
								</tr>
								<tr>
									<td>Fecha Nacimiento:</td>
									<td th:text="${#temporals.format(hermano.fechaNac)}"></td>
								</tr>
							</div>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragmentos/footer::footer}"></footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</body>

</html>